@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$primary: #7A5AF8;
$secondary: #F9F5FF;
$text_primary: #6941C6;
$font_color: #ffffff;
$font_primary: #344054;
$border_color: #dee2e6;
$font_family: 'Inter', sans-serif;

// Dashboard
$left_width: 14%;
$main_width: 86%;
$header_height: 4rem;
$footer_height: 2rem;